#contact {
    height: 100vh;
}
.contact__inner {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    flex-direction: column;
}
.contact__title {
    font-size: 10vw;
    text-transform: uppercase;
    text-indent: -0.5vw;
    line-height: 1;
    letter-spacing: -0.3vw;
    font-family: var(--mainEng-font);
    font-weight: 800;
    white-space: nowrap;
}
.contact__lines {
    width: 100%;
}
.contact__lines .line {
    display: block;
    width: 100%;
    background-color: var(--black);
    margin-bottom: 0.5vw;
    display: none;
}
.contact__lines .line:nth-child(1) {
    height: 1px;
}
.contact__lines .line:nth-child(2) {
    height: 2px;
}
.contact__lines .line:nth-child(3) {
    height: 5px;
}
.contact__lines .line:nth-child(4) {
    height: 9px;
}
.contact__lines .line:nth-child(5) {
    height: 13px;
}
.contact__lines .line:nth-child(6) {
    height: 17px;
}
.contact__lines .line:nth-child(7) {
    height: 25px;
}
.contact__lines.bottom .line {
    display: block;
    width: 100%;
    background-color: var(--black);
    margin-top: 0.5vw;
    display: block;
}
.contact__lines.bottom .line:nth-child(1) {
    height: 25px;
}
.contact__lines.bottom .line:nth-child(2) {
    height: 17px;
}
.contact__lines.bottom .line:nth-child(3) {
    height: 13px;
}
.contact__lines.bottom .line:nth-child(4) {
    height: 9px;
}
.contact__lines.bottom .line:nth-child(5) {
    height: 5px;
}
.contact__lines.bottom .line:nth-child(6) {
    height: 2px;
}
.contact__lines.bottom .line:nth-child(7) {
    height: 1px;
}
.contact__text {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black);
    position: relative;
}
.contact__text .text {
    color: #fff;
    text-align: center;
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: var(--mainEng-font);
    position: relative;
    z-index: 100;
    font-weight: 700;
    letter-spacing: -0.1vw;
    transition: all 0.3s;
    cursor: all-scroll;
}
@media (max-width: 800px) {
    .contact__title {
        display: none;
    }
    .contact__lines .line {
        display: block;
    }
    .contact__inner {
        justify-content: center;
    }
    .contact__text .text {
        font-size: 24px;
        word-break: break-all;
        padding: 0 16px;
    }
}