#footer {
    font-family: var(--mainKor-font);
}
.footer__text {
    margin: 0 16px;
    font-size: 12px;
    text-transform: uppercase;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
}
.footer__info {
    margin: 100px 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.footer__info .left {
    width: 50%;
}
.footer__info .left .title {
    border-top: 2px solid var(--black);
    border-bottom: 1px solid var(--black);
    padding: 20px 0;
    margin-bottom: 20px;
    font-weight: 700;
    background: url(../../img/arrow.svg) no-repeat right 20px;
    transition: all 0.3s;
}
.footer__info .left .title:hover {
    background-color: var(--black400);
    padding-left: 10px;
    border-color: transparent;
}
.footer__info .left p {
    padding-bottom: 20px;
    font-size: 12px;
}
.footer__info .right {
    width: 40%;
    border-top: 2px solid var(--black);
}
.footer__info .right h3 {
    font-size: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
}
.footer__info .right ul {
    border-top: 1px solid var(--black);
}
.footer__info .right li {
    border-bottom: 1px solid var(--black);
}
.footer__info .right li a {
    padding: 14px 0;
    display: inline-block;
    font-size: 14px;
}
.footer__info .right li em {
    font-size: 12px;
    padding-left: 10px;
    opacity: 0;
    transition: all 0.3s;
}
.footer__info .right li:hover em {
    opacity: 1;
}
.footer__right {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    .footer__info {
        flex-direction: column;
    }
    .footer__info .left {
        width: 100%;
    }
    .footer__info .right {
        width: 100%;
    }
}