#intro {
    height: 100vh;
}
.intro__inner {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    flex-direction: column;
}
.intro__title {
    font-size: 10vw;
    text-transform: uppercase;
    text-indent: -0.5vw;
    line-height: 1;
    letter-spacing: -0.3vw;
    font-weight: 800;
    white-space: nowrap;
}
.intro__lines {
    width: 100%;
}
.intro__lines .line {
    display: block;
    width: 100%;
    background-color: var(--black);
    margin-bottom: 0.5vw;
}
.intro__lines .line:nth-child(1) {
    height: 1px;
}
.intro__lines .line:nth-child(2) {
    height: 2px;
}
.intro__lines .line:nth-child(3) {
    height: 5px;
}
.intro__lines .line:nth-child(4) {
    height: 9px;
}
.intro__lines .line:nth-child(5) {
    height: 13px;
}
.intro__lines .line:nth-child(6) {
    height: 17px;
}
.intro__lines .line:nth-child(7) {
    height: 25px;
}
.intro__lines.bottom .line {
    display: block;
    width: 100%;
    background-color: var(--black);
    margin-top: 0.5vw;
    display: none;
}
.intro__lines.bottom .line:nth-child(1) {
    height: 25px;
}
.intro__lines.bottom .line:nth-child(2) {
    height: 17px;
}
.intro__lines.bottom .line:nth-child(3) {
    height: 13px;
}
.intro__lines.bottom .line:nth-child(4) {
    height: 9px;
}
.intro__lines.bottom .line:nth-child(5) {
    height: 5px;
}
.intro__lines.bottom .line:nth-child(6) {
    height: 2px;
}
.intro__lines.bottom .line:nth-child(7) {
    height: 1px;
}
.intro__text {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--black);
    position: relative;
}
.intro__text .text {
    color: var(--white);
    text-align: center;
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 100;
    font-weight: 700;
    letter-spacing: -0.1vw;
    transition: all 0.3s;
    cursor: all-scroll;
}
.intro__text .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.3s;
}
.intro__text .text:hover {
    opacity: 0;
}
.intro__text .text:hover + .img {
    filter: grayscale(0);
}
@media (max-width: 800px) {
    .intro__title {
        display: none;
    }
    .intro__lines.bottom .line {
        display: block;
    }
    .intro__inner {
        justify-content: center;
    }
    .intro__text .text {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .intro__text {
        padding: 0 16px;
    }
    .intro__text .img {
        width: 50vw;
        height: 50vw;
    }
}