.site__inner {
    padding: 16px;
}
.site__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 70%;
    height: 5vw;
    font-size: 4vw;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    font-family: var(--mainKor-font);
    font-weight: 900;
    margin-bottom: 16px;
}
.site__title em {
    font-size: 20px;
    font-weight: 400;
}
.site__item {
    background-color: var(--mainBg-color);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    left: 0;
}
.site__item.s1 {
    background-color: var(--subBg100);
    top: 180px;
}
.site__item.s2 {
    background-color: var(--subBg200);
    top: 190px;
}
.site__item.s3 {
    background-color: var(--subBg300);
    top: 200px;
}
.site__item.s4 {
    background-color: var(--subBg400);
    top: 210px;
}
.site__item .num {
    font-size: 5vw;
    line-height: 1;
    font-family: var(--mainNum-font);
    position: absolute;
    left: 1vw;
    top: 1vw;
    font-weight: 900;
}
.site__item .text {
    text-align: center;
    margin-bottom: 1rem;
}
.site__item .text div {
    font-size: 3vw;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: var(--mainEng-font);
    position: relative;
    z-index: 100;
    font-weight: 700;
    letter-spacing: -0.1vw;
}
.site__item .title {
    font-family: var(--mainNum-font);
    display: inline-block;
    margin-top: 1vw;
}
.site__item .btn a {
    display: inline-block;
    font-family: var(--mainEng-font);
    background-color: transparent;
    color: var(--black200);
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: all 0.3s;
    text-decoration: underline;
    text-underline-position: under;
}
.site__item .btn a:hover {
    color: var(--black);
}
.site__item .info {
    position: absolute;
    left: 0;
    bottom: 3%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    font-family: var(--mainEng-font);
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}
.site__item .info span {
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--mainKor-font);
    padding: 3px 0;
}
@media (max-width: 800px) {
    .site__title {
        width: 100%;
        margin-bottom: 10vw;
        font-size: 30px;
        height: auto;
        background: #f3ede8;
        top: 68px;
        border-bottom: 2px solid var(--black100);
        z-index: 1000;
    }
    .site__title em {
        font-size: 16px;
    }
    .site__item.s1 {
        top: 140px;
    }
    .site__item.s2 {
        top: 160px;
    }
    .site__item.s3 {
        top: 180px;
    }
    .site__item.s4 {
        top: 200px;
    }
    .site__item .num {
        font-size: 80px;
        left: 20px;
        top: 20px;
    }
    .site__item .text div {
        font-size: 26px;
    }
    .site__item .info {
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        padding: 5px 0;
    }
}